.sobre-mi{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: var(--color-fondo);
}

@media screen and (max-width: 768px){
    .sobre-mi{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}