.container__header{
    padding-left: calc((100% - 1300px)/2);
    padding-right: calc((100% - 1300px)/2);
}

.container__contenido{
    padding-left: calc((100% - 1100px)/2);
    padding-right: calc((100% - 1100px)/2);
}

@media screen and (max-width: 1024px){

    .container__header{
        padding-left: 1%;
        padding-right: 1%;
    }

    .container__contenido{
    padding-left: 1%;
    padding-right: 1%;
    }
}
