body{
    font-family: Inter, cursive;
    background-color: #F2F5F7;
    display: grid;
    grid-template-areas: "header"
                         "contenido"
                         "rodapie";

   grid-template-columns: 100%;
   grid-template-rows: auto auto auto;
}

.header{
    grid-area: header;
}

.contenido{
    grid-area: contenido;
}

.footer{
    grid-area: rodapie;
}

:root{
    --color-letra:#fdfdfd;
    --color-alerta:#db4242;
    --color-titulo: #808080;
    --color-fondo: #0e0e0e;
    --color-negro-footer: black;
    --color-gris-header: #151515;
    --color-navegacion-subrayado: rgb(255, 255, 255);
    --color-redes-presentacion:#d6d6d6;
    --color-fondo-oscuro:#060606;
}