.presentacion__mia__link{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--color-letra);
    border-left: 2px solid var(--color-letra);
    padding-left: 0.2rem;
}

.presentacion__mia__link:hover{
    scale: 1.1;
    transition: 0.1s;
}