.presentacion__mia__titulo{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3;
    color: #808080;
    padding-bottom: 3rem;
}

@media screen and (max-width: 1024px){
    .presentacion__mia__titulo{
        font-size: 1.5rem;
    }
}