.formacion__cursos{
    display: flex;
}

@media screen and (max-width: 1024px){
    .formacion__cursos{
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px){
    .formacion__cursos{
        flex-direction: column;
        align-items: center;
    }
}