.formacion__titulo{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-titulo);
    margin-bottom: 5rem;
    text-align: center;
}

@media screen and (max-width: 768px){
    .formacion__titulo{
        margin-bottom: 3rem;
    }

}