.contacto{
    background: var(--color-fondo);
}

.contacto__bloque{
    color: var(--color-letra);
    padding: 6rem 0;
}

@media screen and (max-width: 768px){
    .contacto__bloque{
        padding: 3rem 0;
    }
}